<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Seventh navbar example">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleXxl" aria-controls="navbarsExampleXxl" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleXxl">
                    <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownXxl" data-bs-toggle="dropdown" aria-expanded="false">Users/Roles</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownXxl">
                                <li><a asp-area="" asp-controller="users" asp-action="Index" class="dropdown-item" >Users</a></li>
                                <li><a asp-area="" asp-controller="roles" asp-action="Index" class="dropdown-item" >Roles</a></li>
                            </ul>
                        </li>

                           <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownXxl" data-bs-toggle="dropdown" aria-expanded="false">Clients/Resources</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownXxl">
                                <li><a asp-area="" asp-controller="clients" asp-action="Index" class="dropdown-item" >Clients</a></li>
                                <li><a asp-area="" asp-controller="apiscopes" asp-action="Index" class="dropdown-item" >Api Scopes</a></li>
                                <li><a asp-area="" asp-controller="apiresources" asp-action="Index" class="dropdown-item" >Api Resources</a></li>
                                <li><a asp-area="" asp-controller="identityResources" asp-action="Index" class="dropdown-item" >Identity Resources</a></li>
                                <li><a asp-area="" asp-controller="persistedgrants" asp-action="Index" class="dropdown-item" >Persisted Grants</a></li>
                            </ul>
                        </li>

                    </ul>
                    <form role="search">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3 pt-2">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            @*&copy; 2022 - WebApplication2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
